.navbar-maincontainer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-subcontainer {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.navbar-leftside-container {
    font-size: 45px;
    color: #2b4552;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar-rightside-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-rightside-another-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-nav-links {
    text-decoration: none;
    color: #2b4552;
}

.nav-links {
    font-size: 22px;
    color: #2b4552;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    border: none;
    outline: none;
}

.nav-links:hover,
.add-recipe-button:hover {
    scale: calc(1.1);
}

.add-recipe-button {
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: black;
    font-weight: 500;
    background-color: #56bf6c;
    transition: 0.4s;
}

.profile-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    font-size: 19px;
    font-weight: 600;
    color: #2b4552;
    margin-right: 10px;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 550px) {
    .navbar-subcontainer {
        width: 95%;
    }

    .navbar-leftside-container {
        font-size: 30px;
        margin-left: 0;
    }

    /* .nav-links {
        display: none;
    } */

    .navbar-rightside-container {
        display: none;
        /* width: 50%;
        justify-content: space-evenly; */
    }

    .add-recipe-button {
        height: 56px;
        font-size: 18px;
        border-radius: 12px
    }

    .menu-icon {
        display: block;
        transition: 0.7s;
        border: none;
        color: #2b4552;
        background-color: transparent;
    }

    .menu-icon svg {
        font-size: 35px;
    }

    .mobile-nav-link {
        width: 100%;
        height: 30vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 144px;
        right: 0;
        background-color: #fefefe;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-nav-link .profile-container {
        margin: 30px;
        font-size: 19px;
    }

    .mobile-nav-link .nav-links {
        margin: 10px;
    }
}